/* styles.css */
:root {
    --color-primary: #B322C9;
    --color-secondary: #9235A1;
    --color-accent: #D400F5;
    --color-dark: #6D3B75;
    --color-darker: #47324A;
    --color-background: #444444;
  }
  